body {
  background: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: rgb(68, 68, 68);
}

#table-container {
  background-color: #fff;
  text-align: center;
  position: relative;
  top: 150px;
  padding: 20px;
  width: fit-content;
  margin: auto;
  border-radius: 10px;
}

table,
tr,th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}

td, th{
    padding: 0 50px;
    transition: all 0.3s;
    font-size: 18px;
}

#item-name{
  font-weight: 900;
  text-transform: uppercase;
}

#img{
  padding: 0;
}

td:hover:not(#img){
  background-color: rgb(182, 177, 177);
  color: rgb(32, 32, 32);
}

#img img{
  width: 400px;
  height: 400px;
  object-fit: cover;
}